* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  
}
html{
  font-size: 62.5%;
  width: 100vw;
}

body {
  font-size: 1.6rem;
  background-color: #f3f5fc;
  height: 100vh;
  box-sizing: border-box;

}
header .logo{
  margin-left: 0;
}
header {
  /* padding: 3vh 3vw; */
  background-color: #F3F5FC;
  display: flex;
  align-items: center;
  width: 70%;
  height: 10vh;
}

main  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 3% 8% 14%;
  height: 80vh;
  background-color: #F3F5FC;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  gap: 20px;
}
::placeholder{
  color:#0A3871;
}
.texto-entrada {
  font-weight: 400;
  font-size: 3.2rem;
  color: #0a3871;
  text-align: justify;
  resize: none;
  border: none;
  width: 90%;
  height: 60vh;
  background: #F3F5FC;;
  padding: 25px;
  text-transform: lowercase;
}

.texto-entrada:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  color:#0a3871;
}

.aviso-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;

}
.aviso {
  transform: scale(0.8);
}

.aviso-info span {
  font-size: 1.2rem;
  color: #495057;
}

.buttons button{
  margin: 10px;
}

.buttons {
  display: flex;
}

#btn-criptografar, #btn-descriptografar{
  border-radius: 24px;
  width: 40%;
  height: 67px;
  padding: 24px;
  font-size: 1.6rem;
  cursor: pointer;
}
#btn-criptografar {
  background: #0a3871;
  color: white;
  border: none;
}

#btn-descriptografar, #copiar{
  background: #D8DFE8;;
  color: #0a3871;
  font-size: 1.6rem;
  border-color: #0a3871;
  border-width: 1px;
}

aside {
  background-color: white;
  border-radius: 32px;
  height: 90vh;
  position: absolute;
  bottom: 5vh;
  left: 72vw;
  box-shadow: 0px 24px 12px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  padding: 20px;
}
.boneco-lupa{
  width: 100%;
}
.mensagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
 
}

.mensagem h1 {
  color: #343a40;
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
}

.mensagem p {
  color: #343a40;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 30px;
}

#resultado-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 80%;
  
}

#saida{
  color: #495057;
  font-size: 2.0rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}
#resultado-textarea textarea {
  width: 100%;
  height: 83%;
  border: none;
  resize: none;
}

#resultado-textarea textarea:focus {
  outline: 0;
}

#copiar {
  background: white;
  border-radius: 24px;
  width: 85%;
  height: 67px;
  padding: 2.4rem;
  color: #0a3871;
  font-size: 1.6rem;
  cursor: pointer;
  border-color: #0a3871;


}

footer {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 10vh;
  text-align: center;
}

@media (max-width: 1440px) {
  main {
    /* padding: 2vh 3vw 8vh 7vw; */
    padding: 2% 4% 10% 8%;
  }
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    gap: 10px;
  }

aside {
    background-color: white;
    border-radius: 32px;
    height: 90vh;
    position: absolute;
    bottom: 5vh;
    left: 70vw;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
  }
}

@media (max-width: 1024px) {
   #resultado .boneco-lupa {
    width: 90%;
  }

 #resultado h1 {
    font-size: 2.0rem;
  }

  #resultado p {
    font-size: 1.3rem;
  }
}


@media (max-width: 768px) and (max-height: 1174px) {
  html, body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  main {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 1px 4px 1px 4px;
    gap: 20px;
    height: 90%;
    width: 90%;
  }

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 87%;
    margin-left: 30px;

  }
.aviso-info {
  margin-left:30px;
}
.buttons button{
    margin-left: 30px;

  }
#btn-criptografar, #btn-descriptografar{
  width: 45vw;
  margin-left: 30px;
}
 #copiar {
    display: grid;
    width: 80vw;
   
    
  }

aside {
  display: grid;
    height: 100%;
    position: relative;
    bottom: 0;
    left: 25px;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 90vw;
  }

 #resultado img {
    display: none;
  }
  .mensagem h1, p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
}

#resultado-textarea{
  width: 100%;
  height: 20vh;
  font-size: 1.2rem;
}
}


 @media (max-width: 450px)  {
  main section {
    height: 50%;
  }
} 

@media (max-width: 375px) and (max-width: 933px) {

  html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  main {
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    width: 90vw;
    
  }
  section{
    display: grid;
    width: 100%;
    height: 50%;
    justify-items: center;
  }
  aside {
     display: grid;
      height: 100%;
      width: 85vw;
      justify-content: center;
        align-content: center;  
        align-items: center;
        justify-items: center;
      
    }
  .aviso-info span img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;


  }
  .texto-entrada{
    width: 95%;
    height: 40vh;
    font-size: 2.8rem;
  }
  .buttons{
    display: grid;
  }
  #btn-criptografar, #btn-descriptografar{
    width: 85vw;
  }
   #copiar {
      display: grid;
      width: 80vw;
     
      
    }
    aside  #resultado, #resultado-textarea{
        display: grid;
        text-align: center;
        justify-content: center;
        align-content: center;  
        align-items: center;
        
    }
      .mensagem h1, p:first-child{
        display: grid;
    
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
   
  

}

